.selected-user__container {
  background-color: #99D3DF;
  color: floralwhite;
  padding: 10px;
  border-bottom: 1px solid;
}

.selected-user__name {
  display: flex;
}

.selected-user__intro {
  font-style: italic;
  width: 70px;
}

.selected-user__company-container {
  display: flex;
  padding-top: 4px;
}

.selected-user__company {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.selected-user__album {
  padding-top: 4px;
  display: flex;
  text-transform: capitalize;
}